[Desktop Entry]
Name=Buku Hutang
Comment=Pencatatan hutang pelanggan untuk toko dan warung
Exec=app
Icon=id.tirsasaki.bukuhutang
Terminal=false
Type=Application
Categories=Office;Finance;
